<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">Meu Mural</h2>
    <button routerLink="/criar-pensamentos" class="button">
      Adicionar pensamento
    </button>
  </header>
  <div class="wall" *ngIf="listThoughts.length > 0; else noThoughts">
    <div *ngFor="let thought of listThoughts">
      <app-thought [thought]="thought"></app-thought>
    </div>
  </div>
  <ng-template #noThoughts>
    <div class="not-thoughts ff-inter">
      Ainda não há pensamentos cadastrados!
    </div>
  </ng-template>
</section>
